@import "tailwindcss";
@import "./equitan-sans-font.css";
@import "./lyon-display-web-font.css";

@layer base {
	* {
		text-wrap: pretty;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}
}

@theme {
	/* Fonts */
	--font-sans: equitan-sans, equitan-sans-fallback;
	--font-lyon:
		lyon-display-web, lyon-display-web-fallback, ui-serif, georgia, cambria,
		"Times New Roman", times, serif;
}

@utility inter-display {
	font-optical-sizing: auto;
}

@utility optimize-legibility {
	text-rendering: optimizelegibility;
}
