@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Equitan Sans W01";
  src: url("/fonts/equitan-sans/sans-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Equitan Sans W01";
  src: url("/fonts/equitan-sans/sans-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Equitan Sans W01";
  src: url("/fonts/equitan-sans/sans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Lyon Display Web";
  src: url("/fonts/lyon-display/LyonDisplay-Light-Web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Lyon Display Web";
  src: url("/fonts/lyon-display/LyonDisplay-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Lyon Display Web";
  src: url("/fonts/lyon-display/LyonDisplay-Bold-Web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
