@import "https://fast.fonts.net/cssapi/d31f6ac3-5be0-4f85-8d4f-e02338312df9.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lyon Display Web";
  src: url("/fonts/lyon-display/LyonDisplay-Light-Web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Lyon Display Web";
  src: url("/fonts/lyon-display/LyonDisplay-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Lyon Display Web";
  src: url("/fonts/lyon-display/LyonDisplay-Bold-Web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
